# Sh
CONFIG_ASH y
CONFIG_ASH_OPTIMIZE_FOR_SIZE y
CONFIG_ASH_ECHO y
CONFIG_ASH_TEST y

# Utils
CONFIG_DD y
CONFIG_LS y
CONFIG_POWEROFF y
CONFIG_HALT y
CONFIG_REBOOT y
CONFIG_MKDIR y
CONFIG_LN y
CONFIG_MOUNT y
CONFIG_DMESG y
CONFIG_PS y
CONFIG_CAT y
CONFIG_FREE y

# IP
CONFIG_IP y
CONFIG_FEATURE_IP_ADDRESS y
CONFIG_FEATURE_IP_LINK y
CONFIG_FEATURE_IP_ROUTE y

# Net
CONFIG_IFCONFIG y
CONFIG_UDHCPC y
CONFIG_WGET y
CONFIG_FEATURE_WGET_HTTPS y
CONFIG_TCPSVD y
CONFIG_FEATURE_IPV6 y
CONFIG_FEATURE_PREFER_IPV4_ADDRESS y