CONFIG_INSTALL_NO_USR y

# Disable module support
CONFIG_MODPROBE_SMALL n
CONFIG_DEPMOD n
CONFIG_INSMOD n
CONFIG_LSMOD n
CONFIG_MODINFO n
CONFIG_MODPROBE n
CONFIG_RMMOD n
CONFIG_MDEV n

# MISC
CONFIG_DESKTOP n
CONFIG_TC n
CONFIG_FTPD n
CONFIG_DNSD n
CONFIG_HTTPD n
CONFIG_NTPD n
CONFIG_UDPSVD n
CONFIG_TELNETD n
CONFIG_TFTPD n
CONFIG_UDHCPD n
CONFIG_DHCPRELAY n
CONFIG_SSL_CLIENT n
CONFIG_SSL_SERVER n
CONFIG_TRACEROUTE n
CONFIG_TRACEROUTE6 n
CONFIG_FAKEIDENTD n
CONFIG_WHOIS n
CONFIG_WHO n
CONFIG_WHOAMI n
CONFIG_SENDMAIL n
CONFIG_REFORMIME n
CONFIG_POPMAILDIR n
CONFIG_MAKEMIME n
CONFIG_DPKG n
CONFIG_DPKG_DEB n
CONFIG_RPM n
CONFIG_RPM2CPIO n
CONFIG_BEEP n
CONFIG_CHAT n
CONFIG_I2CGET n
CONFIG_I2CSET n
CONFIG_I2CDUMP n
CONFIG_I2CDETECT n
CONFIG_I2CTRANSFER n
CONFIG_ETHER_WAKE n
CONFIG_ZCIP n
CONFIG_BLKID n
CONFIG_BLKDISCARD n
CONFIG_ACPID n
CONFIG_LSBLK n 
CONFIG_PIVOT_ROOT n
CONFIG_SWITCH_ROOT n
CONFIG_LINUX32 n
CONFIG_LINUX64 n
CONFIG_TASKSET n
CONFIG_EJECT n
CONFIG_FREERAMDISK n
CONFIG_MKDOSFS n
CONFIG_MKE2FS n
CONFIG_FSCK_MINIX n
CONFIG_MKFS_MINIX n
CONFIG_FSCK n
CONFIG_CHATTR n
CONFIG_LSATTR n
CONFIG_MKFS_EXT2 n
CONFIG_MKFS_VFAT n
CONFIG_MKSWAP n
CONFIG_ADDUSER n
CONFIG_ADDGROUP n
CONFIG_CHPASSWD n
CONFIG_MKPASSWD n
CONFIG_CRYPTPW n
CONFIG_DELUSER n
CONFIG_DELGROUP n
CONFIG_PASSWD n
CONFIG_SU n
CONFIG_SULOGIN n
CONFIG_VLOCK n
CONFIG_UBIATTACH n
CONFIG_UBIDETACH n
CONFIG_UBIMKVOL n
CONFIG_UBIRMVOL n
CONFIG_UBIRSVOL n
CONFIG_UBIUPDATEVOL n
CONFIG_UBIRENAME n
CONFIG_VOLNAME n
CONFIG_WATCHDOG n
CONFIG_RX n
CONFIG_NANDWRITE n
CONFIG_NANDDUMP n
CONFIG_HEXEDIT n
CONFIG_HEXDUMP n
CONFIG_HDPARM n
CONFIG_CROND n
CONFIG_CRONTAB n
CONFIG_CONSPY n
CONFIG_DC n
CONFIG_BC n
CONFIG_ADJTIMEX n
CONFIG_ASCII n
CONFIG_MT n
CONFIG_MIM n
CONFIG_MICROCOM n
CONFIG_MAKEDEVS n
CONFIG_CRC32 n
CONFIG_DEALLOCVT n
CONFIG_DOS2UNIX n
CONFIG_RAIDAUTORUN n
CONFIG_UUENCODE n
CONFIG_UUDECODE n
CONFIG_BOOTCHARTD n
CONFIG_SWAPOFF n
CONFIG_SWAPON n
CONFIG_CTTYHACK n
CONFIG_DNSDOMAINNAME n
CONFIG_WHICH n
CONFIG_NBDCLIENT n
CONFIG_WALL n
CONFIG_SMEMCAP n
CONFIG_TSORT n
CONFIG_SOFTLIMIT n
CONFIG_BRCTL n
CONFIG_RTCWAKE n
CONFIG_LOGIN n
CONFIG_NOLOGIN n
CONFIG_GETTY n
CONFIG_TTYSIZE n
CONFIG_ADD_SHELL n
CONFIG_REMOVE_SHELL n
CONFIG_FINDFS n
CONFIG_FDISK n
CONFIG_MAN n
CONFIG_RDATE n
CONFIG_INSTALL n
CONFIG_NICE n
CONFIG_RENICE n
CONFIG_STTY n
CONFIG_STAT n
CONFIG_POWERTOP n
CONFIG_UNSHARE n
CONFIG_FBSET n
CONFIG_FBSPLASH n
CONFIG_FDFLUSH n
CONFIG_FDFORMAT n
CONFIG_DIFF n