CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=n
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_XZ=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=n
CONFIG_RD_ZSTD=y

CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y

CONFIG_BINFMT_SCRIPT=y
CONFIG_BINFMT_ELF=y

CONFIG_DEVTMPFS=y
CONFIG_TMPFS=y

CONFIG_PCI=y
CONFIG_PCI_HOST_GENERIC=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_MENU=y


CONFIG_BLK_DEV=y
CONFIG_VIRTIO_BLK=y

CONFIG_NET=y
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_WIRELESS=n
CONFIG_ETHTOOL_NETLINK=n


CONFIG_NETDEVICES=y
CONFIG_WLAN=n
CONFIG_ETHERNET=n
CONFIG_VIRTIO_NET=y


CONFIG_INET=y
CONFIG_UNIX=y
CONFIG_PACKET=y


CONFIG_SCSI=y
CONFIG_BLK_DEV_SD=y
CONFIG_BLK_DEV_SR=y
CONFIG_SCSI_VIRTIO=y

CONFIG_ATA=y
CONFIG_SATA_AHCI=y

CONFIG_ISO9660_FS=y