CONFIG_BUSYBOX
CONFIG_FEATURE_INSTALLER

# Custom
CONFIG_CLOUD_INIT_NETWORKCFG

# Sh
CONFIG_ASH
CONFIG_ASH_OPTIMIZE_FOR_SIZE
CONFIG_ASH_ECHO
CONFIG_ASH_TEST

# Utils
CONFIG_LS
CONFIG_POWEROFF
CONFIG_REBOOT
CONFIG_MKDIR
CONFIG_MOUNT
CONFIG_DMESG
CONFIG_PS
CONFIG_TOP
CONFIG_CAT
CONFIG_FREE
CONFIG_FINDFS
CONFIG_FEATURE_VOLUMEID_ISO9660
CONFIG_FEATURE_VOLUMEID_EXT


# IP
CONFIG_IP
CONFIG_FEATURE_IP_ADDRESS
CONFIG_FEATURE_IP_LINK
CONFIG_FEATURE_IP_ROUTE

# Net
CONFIG_UDHCPC
CONFIG_WGET
CONFIG_FEATURE_WGET_HTTPS
CONFIG_NC
CONFIG_NC_SERVER
CONFIG_NC_EXTRA