name: "Init aarch64"
on:
  workflow_dispatch:
    inputs:
      ip:
        description: 'Ip or Domain'
        type: string
        required: true

env:
  SSH: ssh -o StrictHostKeyChecking=no
  HOST: root@${{ inputs.ip }}

jobs:

  kexec:
    runs-on: ubuntu-latest
    steps:
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
    - run: |
        until $SSH -o ConnectTimeout=10 $HOST
        do
          echo "Server Not Reachable, Waiting..."
          sleep 5
        done

    - run: $SSH $HOST curl -LO https://github.com/mlyxshi/flake/releases/download/aarch64/kexec
    - run: $SSH $HOST curl -LO https://github.com/mlyxshi/flake/releases/download/aarch64/initrd
    - run: $SSH $HOST curl -LO https://github.com/mlyxshi/flake/releases/download/aarch64/kernel
    - run: $SSH $HOST chmod +x kexec
    - run: $SSH $HOST ./kexec --debug --initrd=./initrd --load ./kernel --append=ip=dhcp
    - run: $SSH $HOST systemctl kexec -i
    
  dd:
    runs-on: ubuntu-24.04-arm
    steps:
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519

    - run: |
        until $SSH -o ConnectTimeout=10 $HOST ls /etc/initrd-release
        do
          echo "Kexec Environment Not Reachable, Waiting..."
          sleep 5
        done


    - run: $SSH $HOST "curl https://dd.mlyxshi.com/arm-init-sda-grow.raw | dd of=/dev/sda"

    - name: Force Reboot
      continue-on-error: true 
      run: $SSH $HOST reboot -f

    - run: curl "https://api.day.app/${{ secrets.BARK_KEY }}/NixOS%20Install%20Done?group=NixOS&icon=https://hydra.nixos.org/logo"