name: "Install aarch64 UEFI DD sda"
on:
  workflow_dispatch:
    inputs:
      ip:
        description: 'Ip or Domain'
        type: string
        required: true
      flakeAttr:
        description: 'OS Config Hostname'
        type: string
        required: true

env:
  SSH: ssh -o StrictHostKeyChecking=no
  HOST: root@${{ inputs.ip }}

jobs:

  kexec:
    runs-on: ubuntu-latest
    steps:
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
    - run: |
        until $SSH -o ConnectTimeout=10 $HOST
        do
          echo "Server Not Reachable, Waiting..."
          sleep 5
        done

    - run: $SSH $HOST 'curl -LO https://github.com/mlyxshi/flake/releases/download/aarch64/kexec' 
    - run: $SSH $HOST 'curl -LO https://github.com/mlyxshi/flake/releases/download/aarch64/initrd'
    - run: $SSH $HOST 'curl -LO https://github.com/mlyxshi/flake/releases/download/aarch64/kernel'
    - run: $SSH $HOST 'chmod +x ./kexec'
    - run: $SSH $HOST "./kexec --kexec-syscall-auto --load ./kernel --initrd=./initrd"

    - name: Run kexec
      # If server doesn't reply, ServerAliveInterval option will kill ssh, and emit error 
      # This is the normal behaviour as expected, so let github workflow treat error as success 
      continue-on-error: true 
      run: $SSH -o ServerAliveInterval=5 -o ServerAliveCountMax=2 $HOST './kexec -e'

  install:
    runs-on: ubuntu-24.04-arm
    steps:
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519

        cat > ~/.ssh/ssh_config <<EOF
        Host github.com
          User git
          IdentityFile ~/.ssh/id_ed25519
        EOF

    - uses: actions/checkout@master
    - uses: DeterminateSystems/nix-installer-action@main

    - run: |
        outPath=$(nix build --no-link --print-out-paths .#nixosConfigurations.${{ inputs.flakeAttr }}.config.system.build.image)
        echo "outPath=$outPath" >> "$GITHUB_ENV" 

    - run: |
        until $SSH -o ConnectTimeout=10 $HOST
        do
          echo "Kexec Environment Not Reachable, Waiting..."
          sleep 5
        done

    - run: cat $outPath/${{ inputs.flakeAttr }}.raw | $SSH $HOST "dd of=/dev/sda"
    - run: curl "https://api.day.app/${{ secrets.BARK_KEY }}/NixOS%20Install%20Done/${{ inputs.flakeAttr }}?group=NixOS&icon=https://hydra.nixos.org/logo"

    - name: Force reboot
      continue-on-error: true 
      run: $SSH $HOST "reboot -f"