name: "Install x86_64 BIOS Kexec"
on:
  workflow_dispatch:
    inputs:
      ip:
        description: 'Ip or Domain'
        type: string
        required: true
      flakeAttr:
        description: 'OS Config Hostname'
        type: string
        required: true
      networkType:
        description: 'dhcp or static config ip'
        type: choice
        required: true
        options:
          - dhcp
          - static


env:
  SSH: ssh -o StrictHostKeyChecking=no
  HOST: root@${{ inputs.ip }}

jobs:

  kexec:
    runs-on: ubuntu-latest
    steps:
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519

    - if: ${{ inputs.networkType == 'static' }}
      uses: actions/checkout@v4

    - if: ${{ inputs.networkType == 'static' }}
      uses: DeterminateSystems/nix-installer-action@main

    - name: Build Static IP initrd
      if: ${{ inputs.networkType == 'static' }}
      run: |
        sed -i "s/PLACEHOLDER/${{ inputs.flakeAttr }}/g" kexec/template.nix
        initrdOutPath=$(nix build --no-link --print-out-paths .#nixosConfigurations.kexec-x86_64-static-ip.config.system.build.initialRamdisk)
        echo "initrdOutPath=$initrdOutPath" >> "$GITHUB_ENV"

    - run: |
        until $SSH -o ConnectTimeout=10 $HOST
        do
          echo "Server Not Reachable, Waiting..."
          sleep 5
        done
    
    - run: $SSH $HOST curl -LO https://github.com/mlyxshi/flake/releases/download/x86_64/kexec
    - run: $SSH $HOST curl -LO https://github.com/mlyxshi/flake/releases/download/x86_64/kernel
    - run: $SSH $HOST chmod +x kexec

    - name: SCP Static IP initrd and Load 
      if: ${{ inputs.networkType == 'static' }}
      run: |
        scp -o StrictHostKeyChecking=no $initrdOutPath/initrd  $HOST:/root
        $SSH $HOST ./kexec --debug --initrd=./initrd --load ./kernel
    
    - name: DHCP initrd
      if: ${{ inputs.networkType == 'dhcp' }}
      run: |
        $SSH $HOST curl -LO https://github.com/mlyxshi/flake/releases/download/x86_64/initrd
        $SSH $HOST ./kexec --debug --initrd=./initrd --load ./kernel

    - name: Run kexec
      continue-on-error: true 
      run: $SSH $HOST systemctl kexec -i

  install:
    runs-on: ubuntu-latest
    steps:
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519

        cat > ~/.ssh/ssh_config <<EOF
        Host github.com
          User git
          IdentityFile ~/.ssh/id_ed25519
        EOF

    - uses: actions/checkout@master
    - uses: DeterminateSystems/nix-installer-action@main

    - run: |
        outPath=$(nix build --no-link --print-out-paths .#nixosConfigurations.${{ inputs.flakeAttr }}.config.system.build.toplevel)
        echo "outPath=$outPath" >> "$GITHUB_ENV"

    - run: |
        until $SSH -o ConnectTimeout=10 $HOST ls /etc/initrd-release
        do
          echo "Kexec Environment Not Reachable, Waiting..."
          sleep 5
        done

    - run: |
        DEVICE=$(nix eval --raw .#nixosConfigurations.${{ inputs.flakeAttr }}.config.boot.loader.limine.biosDevice)
        echo "DEVICE=$DEVICE" >> "$GITHUB_ENV"

    - run: $SSH $HOST parted -s $DEVICE -- mklabel msdos
    - run: $SSH $HOST parted $DEVICE -- mkpart primary fat32 1MiB 257MiB
    - run: $SSH $HOST parted $DEVICE -- set 1 boot on
    - run: $SSH $HOST parted $DEVICE -- mkpart primary ext4 257MiB 100%

    - run: $SSH $HOST mkfs.fat -F 32 ${DEVICE}1
    - run: $SSH $HOST mkfs.ext4 -F ${DEVICE}2
    - run: $SSH $HOST mkdir -p /mnt
    - run: $SSH $HOST mount ${DEVICE}2 /mnt
    - run: $SSH $HOST mkdir -p /mnt/boot
    - run: $SSH $HOST mount ${DEVICE}1 /mnt/boot
    
    - run: NIX_SSHOPTS='-o StrictHostKeyChecking=no' nix copy --substitute-on-destination --to ssh://$HOST?remote-store=local?root=/mnt $outPath
 
    - run: $SSH $HOST nix-env --store /mnt -p /mnt/nix/var/nix/profiles/system --set $outPath
    - run: $SSH $HOST mkdir /mnt/{etc,tmp}
    - run: $SSH $HOST touch /mnt/etc/NIXOS
    - run: $SSH $HOST NIXOS_INSTALL_BOOTLOADER=1 nixos-enter --root /mnt -- /run/current-system/bin/switch-to-configuration boot
    - run: $SSH $HOST reboot

    - run: curl "https://api.day.app/${{ secrets.BARK_KEY }}/NixOS%20Install%20Done/${{ inputs.flakeAttr }}?group=NixOS&icon=https://hydra.nixos.org/logo"


    