name: "Install x86_64 Kexec"
on:
  workflow_dispatch:
    inputs:
      ip:
        description: 'Ip or Domain'
        type: string
        required: true
      flakeAttr:
        description: 'OS Config Hostname'
        type: string
        required: true
      networkType:
        description: 'dhcp or static config ip'
        type: choice
        required: true
        options:
          - dhcp
          - static



env:
  SSH: ssh -o StrictHostKeyChecking=no
  HOST: root@${{ inputs.ip }}

jobs:

  kexec:
    runs-on: ubuntu-latest
    steps:
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
    - run: |
        until $SSH -o ConnectTimeout=10 $HOST
        do
          echo "Server Not Reachable, Waiting..."
          sleep 5
        done
    
    - run: $SSH $HOST curl -LO https://github.com/mlyxshi/flake/releases/download/x86_64/kexec
    - run: $SSH $HOST curl -LO https://github.com/mlyxshi/flake/releases/download/x86_64/kernel
    - run: $SSH $HOST chmod +x kexec

    - name: Static IP initrd
      if: ${{ inputs.networkType == 'static' }}
      run: |
        $SSH $HOST curl -LO https://github.com/mlyxshi/flake/releases/download/x86_64/initrd-tmp
        $SSH $HOST ./kexec --debug --initrd=./initrd-tmp --load ./kernel
    
    - name: DHCP initrd
      if: ${{ inputs.networkType == 'dhcp' }}
      run: |
        $SSH $HOST curl -LO https://github.com/mlyxshi/flake/releases/download/x86_64/initrd
        $SSH $HOST ./kexec --debug --initrd=./initrd --load ./kernel --append=ip=dhcp

    - run: $SSH $HOST systemctl kexec -i

  install:
    runs-on: ubuntu-latest
    steps:
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519

        cat > ~/.ssh/ssh_config <<EOF
        Host github.com
          User git
          IdentityFile ~/.ssh/id_ed25519
        EOF

    - uses: actions/checkout@master
    - uses: DeterminateSystems/nix-installer-action@main

    - run: |
        outPath=$(nix build --no-link --print-out-paths .#nixosConfigurations.${{ inputs.flakeAttr }}.config.system.build.toplevel)
        echo "outPath=$outPath" >> "$GITHUB_ENV"

    - run: |
        until $SSH -o ConnectTimeout=10 $HOST ls /etc/initrd-release
        do
          echo "Kexec Environment Not Reachable, Waiting..."
          sleep 5
        done

    - run: $SSH $HOST parted -s /dev/vda -- mklabel msdos
    - run: $SSH $HOST parted /dev/vda -- mkpart primary fat32 1MiB 257MiB
    - run: $SSH $HOST parted /dev/vda -- set 1 boot on
    - run: $SSH $HOST parted /dev/vda -- mkpart primary ext4 257MiB 100%

    - run: $SSH $HOST mkfs.fat -F 32 /dev/vda1
    - run: $SSH $HOST mkfs.ext4 -F /dev/vda2
    - run: $SSH $HOST mkdir -p /mnt
    - run: $SSH $HOST mount /dev/vda2 /mnt
    - run: $SSH $HOST mount --mkdir /dev/vda1 /mnt/boot
    
    - run: NIX_SSHOPTS='-o StrictHostKeyChecking=no' nix copy --substitute-on-destination --to ssh://$HOST?remote-store=local?root=/mnt $outPath
 
    - run: $SSH $HOST nix-env --store /mnt -p /mnt/nix/var/nix/profiles/system --set $outPath
    - run: $SSH $HOST mkdir /mnt/{etc,tmp}
    - run: $SSH $HOST touch /mnt/etc/NIXOS
    - run: $SSH $HOST NIXOS_INSTALL_BOOTLOADER=1 nixos-enter --root /mnt -- /run/current-system/bin/switch-to-configuration boot
    - run: $SSH $HOST reboot

    - run: curl "https://api.day.app/${{ secrets.BARK_KEY }}/NixOS%20Install%20Done/${{ inputs.flakeAttr }}?group=NixOS&icon=https://hydra.nixos.org/logo"


    