name: "Install x86_64 BIOS"
on:
  workflow_dispatch:
    inputs:
      ip:
        description: 'Ip or Domain'
        type: string
        required: true
      flakeAttr:
        description: 'OS Config Hostname'
        type: string
        required: true
      user:
        description: 'SSH User'
        required: true
        default: 'root'
        type: choice
        options:
          - root
          - ubuntu

env:
  SSH: ssh -o StrictHostKeyChecking=no
  HOST: root@${{ inputs.ip }}

jobs:

  bios-init:
    runs-on: ubuntu-latest
    steps:
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
    - run: |
        until $SSH -o ConnectTimeout=10 ${{ inputs.user }}@${{ inputs.ip }}
        do
          echo "Server Not Reachable, Waiting..."
          sleep 5
        done

    - run: $SSH ${{ inputs.user }}@${{ inputs.ip }} 'curl -O https://raw.githubusercontent.com/bin456789/reinstall/main/reinstall.sh' 
    - run: $SSH ${{ inputs.user }}@${{ inputs.ip }} 'bash reinstall.sh dd --ssh-key github:mlyxshi --img "https://dd.mlyxshi.com/bios-init.img"'
    - run: $SSH ${{ inputs.user }}@${{ inputs.ip }} 'reboot'

  install:
    runs-on: ubuntu-latest
    steps:
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519

        cat > ~/.ssh/ssh_config <<EOF
        Host github.com
          User git
          IdentityFile ~/.ssh/id_ed25519
        EOF

    - uses: actions/checkout@master
    - uses: DeterminateSystems/nix-installer-action@main

    - run: |
        outPath=$(nix build --no-link --print-out-paths .#nixosConfigurations.${{ inputs.flakeAttr }}.config.system.build.toplevel)
        echo "outPath=$outPath" >> "$GITHUB_ENV"

    - run: |
        until $SSH -o ConnectTimeout=10 $HOST ls /etc/NIXOS
        do
          echo "Bios-init Environment Not Reachable, Waiting..."
          sleep 5
        done

    - run: NIX_SSHOPTS='-o StrictHostKeyChecking=no' nix copy --to ssh://$HOST $outPath
    - run: $SSH $HOST nix-env -p /nix/var/nix/profiles/system --set $outPath
    - run: $SSH $HOST $outPath/bin/switch-to-configuration switch
    - run: curl "https://api.day.app/${{ secrets.BARK_KEY }}/NixOS%20Install%20Done/${{ inputs.flakeAttr }}?group=NixOS&icon=https://hydra.nixos.org/logo"
    - run: $SSH $HOST reboot