name: "Kexec"
on:
  workflow_dispatch:
    inputs:
      ip:
        description: 'Ip or Domain'
        type: string
        required: true
      user:
        description: 'SSH User'
        required: true
        default: 'root'
        type: choice
        options:
          - root
          - ubuntu

env:
  SSH: ssh -o StrictHostKeyChecking=no
  HOST: root@${{ inputs.ip }}

jobs:

  kexec:
    runs-on: ubuntu-latest
    steps:
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
    - run: |
        until $SSH -o ConnectTimeout=10 ${{ inputs.user }}@${{ inputs.ip }}
        do
          echo "Server Not Reachable, Waiting..."
          sleep 5
        done

    - run: $SSH ${{ inputs.user }}@${{ inputs.ip }} curl -LO https://github.com/mlyxshi/flake/releases/download/$(uname -m)/kexec
    - run: $SSH ${{ inputs.user }}@${{ inputs.ip }} curl -LO https://github.com/mlyxshi/flake/releases/download/$(uname -m)/initrd
    - run: $SSH ${{ inputs.user }}@${{ inputs.ip }} curl -LO https://github.com/mlyxshi/flake/releases/download/$(uname -m)/kernel
    - run: $SSH ${{ inputs.user }}@${{ inputs.ip }} chmod +x ./kexec
    - run: $SSH ${{ inputs.user }}@${{ inputs.ip }} ./kexec --debug --initrd=./initrd --load ./kernel
    - run: $SSH ${{ inputs.user }}@${{ inputs.ip }} systemctl kexec -i
