name: "Package Update"
on:
  workflow_dispatch:
    inputs:
      package:
        description: 'package name'
        type: string
        required: true

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
    - uses: DeterminateSystems/nix-installer-action@main

    - uses: actions/checkout@master
      with:
        token: ${{ secrets.GIT_TOKEN }}

    - run: git config user.name github-actions[bot] && git config user.email github-actions[bot]@users.noreply.github.com
    - run: nix profile add nixpkgs#nix-update
    - run: nix-update --commit --use-update-script --flake ${{ inputs.package }}
    - run: git push