name: "substrate x86_64"
on:
  workflow_dispatch:
    inputs:
      ip:
        description: 'Ip or Domain'
        type: string
        required: true
      flakeAttr:
        description: 'OS Config Hostname'
        type: string
        required: true


env:
  SSH: ssh -o StrictHostKeyChecking=no
  HOST: root@${{ inputs.ip }}

jobs:

  substrate:
    runs-on: ubuntu-latest
    steps:
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519

        cat > ~/.ssh/ssh_config <<EOF
        Host github.com
          User git
          IdentityFile ~/.ssh/id_ed25519
        EOF

    - uses: actions/checkout@master
    - uses: DeterminateSystems/nix-installer-action@main

    - run: |
        outPath=$(nix build --no-link --print-out-paths .#nixosConfigurations.${{ inputs.flakeAttr }}.config.system.build.toplevel)
        echo "outPath=$outPath" >> "$GITHUB_ENV"

    - name: Set up WARP (IPv6 only)
      if: contains(inputs.ip, ':')
      uses: fscarmen/warp-on-actions@v1.4
      with:
        stack: dual
        mode: client    

    - run: |
        until $SSH  -o ConnectTimeout=10 $HOST
        do
          echo "Server Not Reachable, Waiting..."
          sleep 5
        done

    - run: $SSH $HOST 'mkdir -p /new-root' 
    - run: $SSH $HOST 'mkdir -m 0755 /nix' 
    - run: $SSH $HOST 'wget https://releases.nixos.org/nix/nix-2.33.0/nix-2.33.0-x86_64-linux.tar.xz' 
    - run: $SSH $HOST 'tar -xf nix-2.33.0-x86_64-linux.tar.xz'
    - run: $SSH $HOST 'cp -r nix-2.33.0-x86_64-linux/store /nix'
    - run: $SSH $HOST '/nix/store/yg8v8aap26967f28xmqgvl29ksp6mgn1-nix-2.33.0/bin/nix-store --load-db < nix-2.33.0-x86_64-linux/.reginfo'
    - run: $SSH $HOST 'cp /nix/store/yg8v8aap26967f28xmqgvl29ksp6mgn1-nix-2.33.0/bin/* /usr/bin/'
    
    - run: NIX_SSHOPTS='-o StrictHostKeyChecking=no' nix copy --to ssh://$HOST $outPath

    # - run: |
    #     $SSH $HOST "cat > /boot/grub/custom.cfg" <<EOF
    #   menuentry "NixOS" --id NixOS {
    #     insmod ext2
    #     search -f /etc/hostname --set root
    #     linux $outPath/kernel $(cat $outPath/kernel-params) init=$outPath/init
    #     initrd $outPath/initrd
    #   }
    #   set default="NixOS"
    #   EOF

    - run: curl "https://api.day.app/${{ secrets.BARK_KEY }}/NixOS%20Install%20Done/${{ inputs.flakeAttr }}?group=NixOS&icon=https://hydra.nixos.org/logo"

    # - name: Reboot
    #   continue-on-error: true 
    #   run: $SSH $HOST reboot