name: "System Upgrade Oracle"
on:
  push:
    paths: 
      - 'flake.lock'
  workflow_dispatch:

jobs:
  aarch64:
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        host: [jp1,jp2,us]
    steps:
    - uses: actions/checkout@master
    - uses: DeterminateSystems/nix-installer-action@main
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519

        cat > ~/.ssh/config <<EOF
        Host ${{ matrix.host }}
          HostName ${{ matrix.host }}.mlyxshi.com
          HostKeyAlias ${{ matrix.host }}
          User root
          StrictHostKeyChecking no
        EOF
        
    - run: |
        outPath=$(nix build --no-link --print-out-paths .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel)
        echo "outPath=$outPath" >> "$GITHUB_ENV"

    - run: nix copy --substitute-on-destination --to ssh://${{ matrix.host }} $outPath
    - run: ssh ${{ matrix.host }} nix store diff-closures /run/current-system $outPath
    - run: ssh ${{ matrix.host }} nix-env -p /nix/var/nix/profiles/system --set $outPath
    - run: ssh ${{ matrix.host }} $outPath/bin/switch-to-configuration switch