name: "System Upgrade any"
on:
  workflow_dispatch:
    inputs:
      ip:
        description: 'Ip or Domain'
        type: string
        required: true
      flakeAttr:
        description: 'OS Config Hostname'
        type: string
        required: true

env:
  SSH: ssh -o StrictHostKeyChecking=no
  HOST: root@${{ inputs.ip }}

jobs:
  Update:
    runs-on: ubuntu-latest  

    steps:
    - uses: actions/checkout@master
    - uses: DeterminateSystems/nix-installer-action@main
    - run: |
        mkdir -m 0755  ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519

        cat > ~/.ssh/ssh_config <<EOF
        Host github.com
          User git
          IdentityFile ~/.ssh/id_ed25519
        EOF
    - run: |
        outPath=$(nix build --no-link --print-out-paths .#nixosConfigurations.${{ inputs.flakeAttr }}.config.system.build.toplevel)
        echo "outPath=$outPath" >> "$GITHUB_ENV"

    - run: NIX_SSHOPTS='-o StrictHostKeyChecking=no' nix copy --substitute-on-destination --to ssh://$HOST $outPath
    - run: $SSH $HOST nix store diff-closures /run/current-system $outPath
    - run: $SSH $HOST nix-env -p /nix/var/nix/profiles/system --set $outPath
    - run: |
        $SSH $HOST "cat > /old-root/boot/grub/custom.cfg" <<EOF
        menuentry "NixOS" --id NixOS {
          insmod ext2
          search -f /etc/hostname --set root
          linux $outPath/kernel $(cat $outPath/kernel-params) init=$outPath/init
          initrd $outPath/initrd
        }
        set default="NixOS"
        EOF
      
    - name: Reboot
      continue-on-error: true 
      run: $SSH $HOST reboot